* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: ;
    color: #1f2937;
    background: white;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #2d4654;
    color: white;
    height: 60px;
}

ul {
    list-style-type: none;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;

}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}



.header {
    background: #2d4654;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header p {
    color: #e5e7eb;
}
.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.illustrations img {
    max-width: 200px;
}

.illustrations .container {
    display: flex;
}

.box {
    flex: 1;
    text-align: center;
}



.quote {
    background: #e5e7eb;
}

.quote .container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.quote h4 {

}



.banner {

}

.banner .banner-container {
    display: flex;
    justify-content: center;

}

.banner-box {
    background-color: gray;
    display: flex;
    
}

.footer {
    margin-top: auto;
    background-color: #2d4654;
    color: #e5e7eb;
}

.footer .container {
    display: flex;
    justify-content: center;
}